#todoapp h1 {
    font-size: 40px;
}

#todo-list li .toggle {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#todo-list li label {
    word-break: keep-all;
    padding: 15px 280px 15px 15px;
    margin-bottom: 0;
}

#todo-list li .priority {
    position: absolute;
    top: 18px;
    right: 50px;
}

#todo-list li .priority button {
    display: none;
    padding: 0;
    margin: 0;
    font-size: 8px;
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#todo-list li .priority:hover button {
    display: inline-block;
}

#todo-list .due-date {
    position: absolute;
    top: 12px;
    right: 120px;
    width: 150px
}

#sorting button {
    padding: 0;
    margin: 0;
    font-size: 8px;
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#sorting button {
    top: 0;
    z-index: 3;
    position: absolute;
}

#sorting button.priority {
    right: 70px;
}

#sorting button.due-date {
    right: 200px;
}